Repository illright/attractions: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Add missing type annotation
  attractions/chip/checkbox-chip-group.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Link the bundlephobia issue near the `||` change
  attractions/checkbox/checkbox-group.svelte
  attractions/chip/checkbox-chip-group.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Replace `sapper:prefetch` with `sveltekit:prefetch`
  docs/src/routes/index.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix `AccordionSection` controller type in the slot
  attractions/accordion/accordion.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Move the `let:toggle` directive to the slot
  docs/src/routes/docs/components/accordion.svx
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix the handing of SCSS by ESLint in Svelte files
  .eslint-svelte-hacks.js
  .eslintignore
  .eslintrc.yaml
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Remove nonexisting styles imports
  docs/src/routes/docs/components/accordion-section.svx
  docs/src/routes/docs/components/autocomplete-field.svx
  docs/src/routes/docs/components/checkbox-chip.svx
  docs/src/routes/docs/components/dropdown-shell.svx
  docs/src/routes/docs/components/file-input.svx
  docs/src/routes/docs/components/form-field.svx
  docs/src/routes/docs/components/radio-chip.svx
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Replace custom resolve function with built-in one
  docs/mdsvex.config.js
  docs/svelte-preprocess.config.js
  docs/svelte.config.js
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Add an import expander
  docs/import-expander.config.js
  docs/package.json
  docs/svelte.config.js
  import-expander/package.json
  import-expander/src/index.ts
  import-expander/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Add the static adapter
  docs/.gitignore
  docs/package.json
  docs/src/app.html
  docs/static/.nojekyll
  docs/svelte.config.js
  pnpm-lock.yaml
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Add new dropdown alignment props
  attractions/dropdown/dropdown.svelte
  docs/src/routes/docs/components/dropdown.svx
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Add dropdown auto alignment logic
  attractions/dropdown/dropdown-shell.svelte
  attractions/dropdown/dropdown.svelte
  docs/src/routes/docs/components/dropdown.svx
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Remove window width and height binding
  attractions/dropdown/dropdown.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Add new dropdown alignment props to the docs
  docs/src/routes/docs/components/dropdown.svx
  docs/static/css/routes/docs/components/dropdown.scss
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix dropdown doc button case consistency
  docs/src/routes/docs/components/dropdown.svx
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Pass function instead of dropdown shell element in context
  attractions/dropdown/dropdown-shell.svelte
  attractions/dropdown/dropdown.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Change getDropdownShellBoundary to be a function
  attractions/dropdown/dropdown-shell.svelte
  attractions/dropdown/dropdown.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Update dropdown alignment constants and doc
  attractions/dropdown/dropdown.svelte
  docs/src/routes/docs/components/dropdown.svx
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Move dropdown alignment and context key to seperated file
  attractions/dropdown/dropdown-alignment.js
  attractions/dropdown/dropdown-context-key.js
  attractions/dropdown/dropdown-shell.svelte
  attractions/dropdown/dropdown.svelte
  attractions/dropdown/index.js
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Remove optional chaining and fix alignment logic
  attractions/dropdown/dropdown-shell.svelte
  attractions/dropdown/dropdown.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Allow dropdown to overflow the doc showcase
  docs/static/css/routes/docs/components/dropdown.scss
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Change from absolute color to scss varaible
  attractions/card/card.scss
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Update minor and patch version dependencies
  attractions/package.json
  docs/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Document additional changes in the changelog
  CHANGELOG.md
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Bump the package version
  CHANGELOG.md
  attractions/package.json
  docs/package.json
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Document the `$background` variable for the card
  docs/src/routes/docs/components/card.svx
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix pnpm lock file
  pnpm-lock.yaml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Update dependencies
  attractions/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Replace duplicated type with `const` assertion
  attractions/popover/popover-positions.js
  attractions/snackbar/snackbar-positions.js
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Add `.svelte` extension to type imports
  attractions/autocomplete/autocomplete-field.svelte
  attractions/autocomplete/autocomplete.svelte
  attractions/checkbox/checkbox-group.svelte
  attractions/chip/checkbox-chip-group.svelte
  attractions/chip/radio-chip-group.svelte
  attractions/radio-button/radio-group.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Remove useless import
  attractions/autocomplete/autocomplete-field.svelte
  attractions/autocomplete/autocomplete.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Bump version and update changelog
  CHANGELOG.md
  attractions/package.json
  docs/package.json
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix the type of Autocomplete's getOptions prop
  attractions/autocomplete/autocomplete-field.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Bump version for release
  CHANGELOG.md
  attractions/package.json
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Update dropdown context key name
  attractions/dropdown/dropdown-context-key.js
  attractions/dropdown/dropdown-shell.svelte
  attractions/dropdown/dropdown.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix dropdown horizontal alignment logic
  attractions/dropdown/dropdown.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Improve dropdown alignment description in doc
  docs/src/routes/docs/components/dropdown.svx
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix dropdown jsdoc indent
  attractions/dropdown/dropdown-alignment.js
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Path conditions:
  eslint --ext ".svelte,.js" --cache --fix --max-warnings 0: any of: **/*.{js,svelte}
  stylelint . --cache --fix --max-warnings 0: any of: **/*.{css,scss}
  prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown: any of: **/*
