Repository illright/attractions: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Update all workflows to respect SvelteKit
  .github/workflows/build-pr-docs.yml
  .github/workflows/lint-pr.yml
  .github/workflows/manual-deploy.yml
  .github/workflows/on-release.yml
  .github/workflows/suggest-release.yml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Setup pnpm before Node.js
  .github/workflows/build-pr-docs.yml
  .github/workflows/lint-pr.yml
  .github/workflows/manual-deploy.yml
  .github/workflows/on-release.yml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Add app type declaration file
  .gitignore
  src/app.d.ts
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Replace deprecated functions with their equivalent
  src/lib/utils/classes.ts
  src/lib/utils/datetime-utils.ts
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Replace incorrect generics with function overloads
  src/lib/utils/datetime-utils.ts
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Stabilize AM/PM when setting hours to 12
  CHANGELOG.md
  src/lib/time-picker/time-picker.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Refactor usages of the old dropdown props
  CHANGELOG.md
  src/containers/docs/mobile-navigation.svelte
  src/lib/date-picker/date-picker.svelte
  src/lib/time-picker/time-picker.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Prevent prefetching external links
  src/containers/docs/header.svelte
  src/routes/index.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Handle non-file draggables into the Dropzone
  src/lib/file-input/file-dropzone.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix type errors here and there
  src/app.d.ts
  src/lib/autocomplete/autocomplete-field.svelte
  src/lib/autocomplete/autocomplete.svelte
  src/lib/date-picker/calendar.svelte
  src/lib/date-picker/date-picker.svelte
  src/lib/dropdown/dropdown-shell.svelte
  src/lib/file-input/file-input.svelte
  src/lib/pagination/pagination.svelte
  src/lib/slider/slider.svelte
  src/lib/snackbar/snackbar-container.svelte
  src/lib/tab/tab.svelte
  src/lib/text-field/text-field.svelte
  src/lib/time-picker/time-picker.svelte
  src/lib/utils/datetime-utils.ts
  src/lib/utils/ripple.ts
  src/routes/__error.svelte
  src/routes/docs/components/tab.svx
  src/routes/docs/components/text-field.svx
  tsconfig.json
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix minor ESLint problems
  src/components/home/info-tile.svelte
  src/containers/docs/place.ts
  src/lib/autocomplete/autocomplete-field.svelte
  src/lib/dropdown/dropdown.svelte
  src/lib/snackbar/snackbar.svelte
  src/lib/text-field/text-field.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

update Sapper references
  src/lib/button/button.svelte
  src/routes/docs/installation.svx
  src/routes/index.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Ignore SVX in ESLint due to parsing error
  .eslintignore
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Add back stylelint for lint-staged pre-commit hook
  package.json
  pnpm-lock.yaml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Update dependencies (major version)
  package.json
  pnpm-lock.yaml
  svelte.config.js
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Replace complex types with `ComponentType` helper
  src/lib/autocomplete/autocomplete-field.svelte
  src/lib/file-input/file-dropzone.svelte
  src/lib/snackbar/snackbar-container.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Swap disabled to aria-disabled
  attractions/button/button.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Update README.md
  README.md
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Update dependencies (minor)
  package.json
  pnpm-lock.yaml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Complete migration to latest SvelteKit version
  package.json
  pnpm-lock.yaml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Update dependencies
  package.json
  pnpm-lock.yaml
  src/components/home/info-tile.svelte
  src/lib/autocomplete/autocomplete-option.svelte
  src/lib/file-input/file-dropzone.svelte
  src/lib/modal/modal.svelte
  src/routes/+error.svelte
  src/routes/+layout.ts
  svelte.config.js
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Update dependencies (minor versions)
  package.json
  pnpm-lock.yaml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Add missing stylelint dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Update to SvelteKit 1.0
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  src/app.html
  src/lib/button/button.svelte
  src/routes/+layout.ts
  src/routes/+page.svelte
  svelte.config.js
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Replace a few more general variables
  src/components/docs/color-preview.svelte
  src/components/docs/shadow-preview.svelte
  src/components/home/info-tile.svelte
  src/css/global.scss
  src/lib/_appearances.scss
  src/lib/_variables.scss
  src/lib/attractions.css
  src/lib/autocomplete/autocomplete-option.scss
  src/lib/button/button.scss
  src/lib/card/card.scss
  src/lib/checkbox/checkbox.scss
  src/lib/chip/checkbox-chip.scss
  src/lib/chip/chip.scss
  src/lib/chip/radio-chip.scss
  src/lib/date-picker/calendar.scss
  src/lib/date-picker/date-picker.scss
  src/lib/dialog/dialog.scss
  src/lib/divider/divider.scss
  src/lib/dot/dot.scss
  src/lib/dropdown/dropdown.scss
  src/lib/file-input/file-dropzone.scss
  src/lib/file-input/file-tile.scss
  src/lib/form-field/form-field.scss
  src/lib/loading/loading.scss
  src/lib/radio-button/radio-button.scss
  src/lib/slider/handle.scss
  src/lib/slider/slider.scss
  src/lib/switch/switch.scss
  src/lib/tab/tab.scss
  src/lib/text-field/text-field.scss
  src/lib/typography/h1.scss
  src/lib/typography/h2.scss
  src/lib/typography/headline.scss
  src/lib/typography/label.scss
  src/mdsvex/h1.svelte
  src/mdsvex/mark.svelte
  src/routes/+page.svelte
  src/routes/docs/+layout.svelte
  src/routes/docs/installation/+page.svx
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Replace RGB with HSL in main color variable
  src/components/docs/color-preview.svelte
  src/components/home/info-tile.svelte
  src/css/global.scss
  src/lib/attractions.css
  src/lib/autocomplete/autocomplete-option.scss
  src/lib/button/button.scss
  src/lib/checkbox/checkbox.scss
  src/lib/chip/checkbox-chip.scss
  src/lib/chip/chip.scss
  src/lib/chip/radio-chip.scss
  src/lib/date-picker/calendar.scss
  src/lib/date-picker/date-picker.scss
  src/lib/dialog/dialog.scss
  src/lib/dot/dot.scss
  src/lib/file-input/file-dropzone.scss
  src/lib/form-field/form-field.scss
  src/lib/loading/loading.scss
  src/lib/radio-button/radio-button.scss
  src/lib/slider/handle.scss
  src/lib/slider/slider.scss
  src/lib/switch/switch.scss
  src/lib/tab/tab.scss
  src/lib/text-field/text-field.scss
  src/lib/typography/h1.scss
  src/lib/typography/h2.scss
  src/lib/typography/headline.scss
  src/lib/typography/label.scss
  src/mdsvex/h1.svelte
  src/mdsvex/mark.svelte
  src/routes/+page.svelte
  src/routes/docs/+layout.svelte
  src/routes/docs/installation/+page.svx
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Evaluate Sass color constants
  src/lib/_variables.scss
  src/lib/switch/switch.scss
  src/lib/text-field/text-field.scss
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix usage of danger color
  src/lib/attractions.css
  src/lib/button/button.scss
  src/lib/date-picker/calendar.scss
  src/lib/dialog/dialog.scss
  src/lib/dot/dot.scss
  src/lib/file-input/file-dropzone.scss
  src/lib/form-field/form-field.scss
  src/lib/text-field/text-field.scss
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Replace disabled variable with custom property
  src/lib/_appearances.scss
  src/lib/_variables.scss
  src/lib/attractions.css
  src/lib/button/button.scss
  src/lib/checkbox/checkbox.scss
  src/lib/date-picker/calendar.scss
  src/lib/file-input/file-dropzone.scss
  src/lib/file-input/file-input.scss
  src/lib/radio-button/radio-button.scss
  src/lib/slider/handle.scss
  src/lib/star-rating/star-rating.scss
  src/lib/switch/switch.scss
  src/lib/tab/tab.scss
  src/lib/text-field/text-field.scss
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Replace dot colors with CSS custom properties
  src/lib/_variables.scss
  src/lib/attractions.css
  src/lib/dot/dot.scss
  src/routes/docs/installation/+page.svx
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Convert 2 more variables
  src/containers/docs/desktop-navigation.svelte
  src/lib/_mixins.scss
  src/lib/_variables.scss
  src/lib/attractions.css
  src/lib/badge/badge.scss
  src/lib/checkbox/checkbox.scss
  src/lib/divider/divider.scss
  src/lib/radio-button/radio-button.scss
  src/lib/time-picker/time-picker.scss
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Use an overlay to darken the background of a text field
  src/lib/_appearances.scss
  src/lib/autocomplete/autocomplete.scss
  src/lib/text-field/text-field.scss
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Remove unused Button Sass
  src/lib/button/_mixins.scss
  src/lib/button/button.scss
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Reconcile duplicated danger color variable
  src/lib/attractions.css
  src/lib/file-input/file-dropzone.scss
  src/lib/text-field/text-field.scss
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Update usages of Button component to the new API
  src/components/docs/copyable-code.svelte
  src/containers/docs/header.svelte
  src/lib/autocomplete/autocomplete-field.svelte
  src/lib/autocomplete/autocomplete.svelte
  src/lib/breadcrumbs/breadcrumbs.svelte
  src/lib/date-picker/date-picker.svelte
  src/lib/dialog/dialog.svelte
  src/lib/file-input/file-input.svelte
  src/lib/file-input/file-tile.svelte
  src/lib/pagination/pagination.svelte
  src/lib/time-picker/time-picker.svelte
  src/routes/+page.svelte
  src/routes/docs/+layout.svelte
  src/routes/docs/components/badge/+page.svx
  src/routes/docs/components/breadcrumbs/+page.svx
  src/routes/docs/components/button/+page.svx
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Path conditions:
  eslint --ext ".svelte,.js" --cache --fix --max-warnings 0: any of: **/*.{js,svelte}
  stylelint . --cache --fix --max-warnings 0: any of: **/*.{css,scss}
  prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown: any of: **/*
