Repository illright/attractions: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Revert button class to `.btn`
  src/lib/button/button.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Replace usages of `selected` with `variant`
  src/containers/docs/desktop-navigation.svelte
  src/lib/time-picker/time-picker.svelte
  src/routes/docs/+layout.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Start redesigning the text field
  src/lib/attractions.css
  src/lib/text-field/text-field.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Finish the styles of the text field
  src/lib/text-field/text-field.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Update badges in README.md
  README.md
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Update dependencies (minor version)
  package.json
  pnpm-lock.yaml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Update dependencies: breaking changes
  .stylelintrc.yaml
  package.json
  pnpm-lock.yaml
  src/lib/attractions.css
  tsconfig.json
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Make `id` and `label` optional
  src/lib/text-field/text-field.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix issue with class prop typing
  src/lib/text-field/text-field.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Prevent the border from covering spinner and clear
  src/lib/text-field/text-field.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Remove the old commented out implementation
  src/lib/text-field/text-field.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Update example to match new API
  src/lib/text-field/text-field.svelte
  src/routes/docs/components/text-field/+page.svx
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Remove old SCSS file
  src/lib/text-field/text-field.scss
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Remove unused variable
  src/lib/_variables.scss
  src/lib/file-input/file-input.scss
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Migrate shadow variables to CSS
  src/components/docs/shadow-preview.svelte
  src/components/home/info-tile.svelte
  src/lib/_variables.scss
  src/lib/attractions.css
  src/lib/badge/badge.scss
  src/lib/card/card.scss
  src/lib/dialog/dialog.scss
  src/lib/dropdown/dropdown.scss
  src/lib/file-input/file-tile.scss
  src/lib/popover/popover-button.scss
  src/lib/snackbar/snackbar.scss
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Migrate all radii variables
  src/lib/_variables.scss
  src/lib/attractions.css
  src/lib/chip/chip.scss
  src/lib/dialog/dialog.scss
  src/lib/file-input/file-dropzone.scss
  src/lib/file-input/file-tile.scss
  src/lib/snackbar/snackbar.scss
  src/lib/table/table.scss
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Migrate most slider variables
  src/lib/_variables.scss
  src/lib/attractions.css
  src/lib/slider/handle.scss
  src/lib/slider/slider.scss
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Replace most snackbar variables
  src/lib/_variables.scss
  src/lib/attractions.css
  src/lib/snackbar/snackbar-container.scss
  src/lib/snackbar/snackbar.scss
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Migrate font weight variables
  src/components/home/info-tile.svelte
  src/containers/docs/header.svelte
  src/css/global.scss
  src/lib/_appearances.scss
  src/lib/_variables.scss
  src/lib/attractions.css
  src/lib/autocomplete/_slot-styles.scss
  src/lib/autocomplete/autocomplete-option.scss
  src/lib/breadcrumbs/breadcrumbs.scss
  src/lib/chip/chip.scss
  src/lib/date-picker/calendar.scss
  src/lib/date-picker/date-picker.scss
  src/lib/dialog/dialog.scss
  src/lib/file-input/file-dropzone.scss
  src/lib/file-input/file-tile.scss
  src/lib/form-field/form-field.scss
  src/lib/tab/tab.scss
  src/lib/typography/h1.scss
  src/lib/typography/h2.scss
  src/lib/typography/h3.scss
  src/lib/typography/headline.scss
  src/lib/typography/label.scss
  src/lib/typography/subhead.scss
  src/mdsvex/h1.svelte
  src/mdsvex/h2.svelte
  src/mdsvex/h3.svelte
  src/routes/+page.svelte
  src/routes/docs/components/text-field/+page.svx
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Migrate font variable
  src/css/global.scss
  src/lib/_appearances.scss
  src/lib/_variables.scss
  src/lib/attractions.css
  src/lib/autocomplete/autocomplete-option.scss
  src/lib/checkbox/checkbox.scss
  src/lib/chip/chip.scss
  src/lib/radio-button/radio-button.scss
  src/lib/switch/switch.scss
  src/lib/tab/tab.scss
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Prevent svelte compiler from throwing accessibility errors.
  attractions/autocomplete/autocomplete-option.svelte
  attractions/file-input/file-dropzone.svelte
  attractions/modal/modal.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Bump version and add entry to changelog
  CHANGELOG.md
  attractions/package.json
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Replace deprecated action with a custom script
  .github/workflows/auto-release.yml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Don't check slider position on mouseup or touchend events
  attractions/slider/slider.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Revert "Don't check slider position on mouseup or touchend events"
  attractions/slider/slider.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

[slider] Fix touchend event
  attractions/slider/utils.js
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

[slider] Fix formatting utils.js
  attractions/slider/utils.js
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Add a changelog entry, upgrade dependencies, bump
  .prettierrc.yaml
  CHANGELOG.md
  attractions/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Improve a11y of the docs
  docs/src/components/home/info-tile.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Upgrade workflows
  .github/workflows/auto-release.yml
  .github/workflows/build-pr-docs.yml
  .github/workflows/deploy-pr-docs.yml
  .github/workflows/lint-pr.yml
  .github/workflows/manual-deploy.yml
  .github/workflows/on-release.yml
  .github/workflows/suggest-release.yml
  pnpm-lock.yaml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Undo changes to the lockfile
  pnpm-lock.yaml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

...
  pnpm-lock.yaml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

touch this file i dare you
  pnpm-lock.yaml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Include workflows in directories to build docs for
  .github/workflows/build-pr-docs.yml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Remove double-dashes
  .github/workflows/build-pr-docs.yml
  .github/workflows/manual-deploy.yml
  .github/workflows/on-release.yml
  package.json
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

try v3
  .github/workflows/build-pr-docs.yml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Upgrade workflows (#382)
  .github/workflows/auto-release.yml
  .github/workflows/build-pr-docs.yml
  .github/workflows/deploy-pr-docs.yml
  .github/workflows/lint-pr.yml
  .github/workflows/manual-deploy.yml
  .github/workflows/on-release.yml
  .github/workflows/suggest-release.yml
  package.json
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Stuff the multiline string in an envvar
  .github/workflows/auto-release.yml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

whatever
  .github/workflows/build-pr-docs.yml
  .github/workflows/deploy-pr-docs.yml
  .github/workflows/manual-deploy.yml
  .github/workflows/on-release.yml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Path conditions:
  eslint --ext ".svelte,.js" --cache --fix --max-warnings 0: any of: **/*.{js,svelte}
  stylelint . --cache --fix --max-warnings 0: any of: **/*.{css,scss}
  prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown: any of: **/*
