Repository illright/attractions: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

.lintstagedrc.yaml:

'**/*.{js,svelte}':
  - eslint --ext ".svelte,.js" --cache --fix --max-warnings 0
'**/*.{css,scss}':
  - stylelint . --cache --fix --max-warnings 0
'**/*':
  - prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Purge an unused function
  attractions/slider/slider.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix a type error
  attractions/slider/slider.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Remove the rectangular mode for handles
  attractions/slider/handle.scss
  attractions/slider/handle.svelte
  attractions/slider/slider.svelte
  docs/src/routes/docs/components/slider.svx
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Remove the background of the slider handle
  attractions/_variables.scss
  attractions/slider/handle.scss
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Reduce the jaggedness on dragging the handle
  attractions/slider/handle.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Update the dependencies for SvelteKit
  docs/package.json
  pnpm-lock.yaml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Create config files for SvelteKit
  docs/mdsvex.config.js
  docs/package.json
  docs/svelte-preprocess.config.js
  docs/svelte.config.js
  pnpm-lock.yaml
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Add the JSConfig to support SvelteKit imports
  docs/jsconfig.json
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Update the gitignore
  docs/.gitignore
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Replace the core Sapper files with SvelteKit alternatives
  docs/src/app.html
  docs/src/client.js
  docs/src/server.js
  docs/src/service-worker.js
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Add SvelteKit type definitions
  .gitignore
  docs/src/global.d.ts
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Move files to a SvelteKit-preferable structure
  docs/src/lib/components/docs/color-preview.svelte
  docs/src/lib/components/docs/copyable-code.svelte
  docs/src/lib/components/docs/related-components.svelte
  docs/src/lib/components/docs/shadow-preview.svelte
  docs/src/lib/components/home/info-tile.svelte
  docs/src/lib/containers/docs/desktop-navigation.svelte
  docs/src/lib/containers/docs/header.svelte
  docs/src/lib/containers/docs/mobile-navigation.svelte
  docs/src/lib/containers/docs/showcase.svelte
  docs/src/lib/containers/home/info-tiles.svelte
  docs/src/lib/mdsvex/h1.svelte
  docs/src/lib/mdsvex/h2.svelte
  docs/src/lib/mdsvex/h3.svelte
  docs/src/lib/mdsvex/layout-no-head.svelte
  docs/src/lib/mdsvex/layout.svelte
  docs/src/lib/mdsvex/li.svelte
  docs/src/lib/mdsvex/mark.svelte
  docs/src/lib/mdsvex/p.svelte
  docs/src/lib/mdsvex/table.svelte
  docs/src/lib/mdsvex/td.svelte
  docs/src/lib/mdsvex/th.svelte
  docs/src/lib/mdsvex/tr.svelte
  docs/src/lib/mdsvex/ul.svelte
  docs/src/lib/utils/fix-anchor-links.js
  docs/src/lib/utils/segment-to-name.js
  docs/src/routes/__error.svelte
  docs/src/routes/docs/__layout.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Update the environment variable substitution
  docs/src/lib/containers/docs/header.svelte
  docs/src/lib/containers/home/info-tiles.svelte
  docs/src/lib/environment.js
  docs/src/routes/docs/index.svx
  docs/src/routes/index.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Move the theme file and global styles
  docs/src/lib/attractions-theme.scss
  docs/src/lib/global.scss
  docs/svelte-preprocess.config.js
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix the error pages for SvelteKit
  docs/src/routes/__error.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix a prefetching error
  docs/src/routes/index.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix the path to the migration guide
  docs/src/routes/docs/migration-guide.svx
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Purge the Rollup config
  docs/rollup.config.js
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Handle empty words in the `capitalize` function
  docs/src/lib/utils/segment-to-name.js
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Emulate the segment behaviour of Sapper
  docs/src/routes/docs/__layout.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix the source of the icon in the header
  docs/src/lib/containers/docs/header.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix the null error due to definition order WIP, just removed the offending logic for now. Need to think of something in its place
  attractions/slider/slider.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Dispatch events properly
  attractions/slider/slider.svelte
  docs/src/routes/docs/components/slider.svx
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Add slot types and docs
  attractions/slider/slider.svelte
  docs/src/routes/docs/components/slider.svx
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix properties descriptions
  docs/src/routes/docs/components/slider.svx
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Remove unused variable
  attractions/_variables.scss
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Document SCSS variables
  docs/src/routes/docs/components/slider.svx
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix the disappearing range selection
  attractions/slider/actions.js
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Amend the documentation
  docs/src/routes/docs/components/slider.svx
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Make the value prop optional
  attractions/slider/slider.svelte
  docs/src/routes/docs/components/slider.svx
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Change default value to follow the spec
  attractions/slider/slider.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Add Slider entry to changelog
  CHANGELOG.md
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Prevent `svelte-check` from checking JS
  package.json
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Update dropdown chevron transition
  attractions/dropdown/dropdown-shell.scss
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Add dropdown chevron changes to changelog
  CHANGELOG.md
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Added `closeOnClick` prop to the `DatePicker`
  CHANGELOG.md
  attractions/date-picker/date-picker.svelte
  docs/src/routes/docs/components/date-picker.svx
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Replace `??` with `||`
  attractions/checkbox/checkbox-group.svelte
  attractions/chip/checkbox-chip-group.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Rename prop to `closeOnSelection`
  CHANGELOG.md
  attractions/date-picker/date-picker.svelte
  docs/src/routes/docs/components/date-picker.svx
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown
