Repository illright/attractions: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Add more deprecation markers for right & top props
  attractions/dropdown/dropdown.svelte
  docs/src/routes/docs/components/dropdown.svx
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Add entry to changelog and fix some older links
  CHANGELOG.md
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix the changelog entries Remove accidental duplicates and reword the changes about the dropdown
  CHANGELOG.md
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Bump the version to 3.6.0
  attractions/package.json
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Add hideNow prop to time-picker
  attractions/time-picker/time-picker.svelte
  docs/src/routes/docs/components/time-picker.svx
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Updated changelog
  CHANGELOG.md
  attractions/package.json
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix the version link and add credit
  CHANGELOG.md
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Revert the version bump
  CHANGELOG.md
  attractions/package.json
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Add the `hideNow` prop to the time picker (#331)
  CHANGELOG.md
  attractions/time-picker/time-picker.svelte
  docs/src/routes/docs/components/time-picker.svx
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Bump the version to 3.7.0
  CHANGELOG.md
  attractions/package.json
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Update dependencies
  attractions/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Update Sveld version
  attractions/package.json
  pnpm-lock.yaml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix more type errors
  attractions/checkbox/checkbox-group.svelte
  attractions/checkbox/checkbox.svelte
  attractions/chip/checkbox-chip-group.svelte
  attractions/chip/checkbox-chip.svelte
  attractions/date-picker/date-picker.svelte
  attractions/dot/dot.svelte
  attractions/file-input/file-input.svelte
  attractions/snackbar/snackbar-container.svelte
  attractions/snackbar/snackbar.svelte
  attractions/switch/switch.svelte
  attractions/time-picker/time-picker.svelte
  attractions/utils/call-on-sight.js
  attractions/utils/datetime-utils.js
  attractions/utils/dynamic-transition.js
  attractions/utils/range.js
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Add changelog entry
  CHANGELOG.md
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Revert the file input value prop type change
  attractions/file-input/file-input.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Inline the unnameable type alias
  attractions/utils/datetime-utils.js
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Add the missing styles to the dropdown docs page
  docs/src/routes/docs/components/dropdown.svx
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Bump the dependencies
  attractions/package.json
  docs/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix the Stylelint issues
  attractions/checkbox/checkbox-group.scss
  attractions/popover/popover-button.scss
  attractions/radio-button/radio-group.scss
  attractions/slider/handle.scss
  docs/src/lib/global.scss
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix the import errors for `svelte-check`
  docs/mdsvex.config.js
  docs/svelte-preprocess.config.js
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Correct the path of static assets in `app.html`
  docs/src/app.html
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Replace the deprecated `page` parameter in load functions
  docs/src/routes/docs/__layout.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Remove linters and formatters from the docs package
  docs/package.json
  pnpm-lock.yaml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix the paths to `containers` in docs
  docs/src/routes/docs/components/slider.svx
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Stop using the `clipboard-polyfill`
  docs/package.json
  docs/src/lib/components/docs/copyable-code.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Remove an obsolete Sapper script
  package.json
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Add slots for translation
  attractions/autocomplete/autocomplete-field.svelte
  attractions/autocomplete/autocomplete.svelte
  attractions/file-input/file-dropzone.svelte
  attractions/file-input/file-input.svelte
  attractions/form-field/form-field.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

date-picker/Calendar (component): add translation for title message
  attractions/date-picker/calendar.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Docs: add translation slots and props
  docs/src/routes/docs/components/autocomplete-field.svx
  docs/src/routes/docs/components/calendar.svx
  docs/src/routes/docs/components/file-dropzone.svx
  docs/src/routes/docs/components/file-input.svx
  docs/src/routes/docs/components/form-field.svx
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Docs: add more details
  attractions/file-input/file-input.svelte
  docs/src/routes/docs/components/autocomplete-field.svx
  docs/src/routes/docs/components/calendar.svx
  docs/src/routes/docs/components/file-input.svx
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Improve wording of some prop/slot documentation
  docs/src/routes/docs/components/autocomplete-field.svx
  docs/src/routes/docs/components/calendar.svx
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix Prettier formatting issues
  attractions/autocomplete/autocomplete-field.svelte
  attractions/file-input/file-dropzone.svelte
  attractions/form-field/form-field.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Move slot props table back to correct position
  docs/src/routes/docs/components/autocomplete-field.svx
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Improve documentation for a few more slots
  docs/src/routes/docs/components/file-dropzone.svx
  docs/src/routes/docs/components/form-field.svx
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Update dependencies (minor)
  attractions/package.json
  docs/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Improve TextField's event payload type
  attractions/text-field/text-field.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

POC support custom body in tables
  attractions/table/table.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

wip
  package.json
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Path conditions:
  eslint --ext ".svelte,.js" --cache --fix --max-warnings 0: any of: **/*.{js,svelte}
  stylelint . --cache --fix --max-warnings 0: any of: **/*.{css,scss}
  prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown: any of: **/*
