Repository illright/attractions: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Revert
  package.json
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

added body slot and its docs
  attractions/table/table.svelte
  docs/src/routes/docs/components/table.svx
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

WIP: added global styling for custom table body
  attractions/table/table.scss
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

added scss styling and documentation
  attractions/table/table.scss
  docs/src/routes/docs/components/table.svx
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

table: include the source scss file if using a custom body
  attractions/table/table.scss
  docs/src/routes/docs/components/table.svx
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Remove deprecated Prettier option
  .prettierrc.yaml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Remove reference to Custom Elements page
  src/routes/docs/__layout.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Replace references to Sapper with SvelteKit
  .stylelintignore
  src/lib/button/button.svelte
  src/mdsvex/h1.svelte
  src/mdsvex/h2.svelte
  src/mdsvex/h3.svelte
  src/routes/docs/components/button.svx
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Migrate layout props from Sapper to SvelteKit way
  src/routes/__error.svelte
  src/routes/docs/__layout.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix env var replacements and root folder access
  svelte.config.js
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix remaining attractions import reference
  src/routes/docs/components/popover-button.svx
  src/routes/docs/components/popover.svx
  src/routes/docs/components/snackbar-container.svx
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix possible undefined property access
  src/containers/docs/header.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Remove deprecated props in `Dropdown` component
  src/lib/dropdown/dropdown.svelte
  src/routes/docs/components/dropdown.svx
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Rename more paths to use alias
  src/lib/autocomplete/autocomplete-field.scss
  src/lib/autocomplete/autocomplete.scss
  src/lib/checkbox/checkbox.scss
  src/lib/chip/radio-chip.scss
  src/lib/date-picker/date-picker.scss
  src/lib/file-input/file-dropzone.scss
  src/lib/file-input/file-input.scss
  src/lib/radio-button/radio-button.scss
  src/lib/star-rating/star-rating.scss
  src/lib/switch/switch.scss
  src/lib/tab/tab.scss
  src/lib/text-field/text-field.scss
  src/lib/time-picker/time-picker.scss
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Enable prerendering by default
  svelte.config.js
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Configure production base path for GitHub Pages
  svelte.config.js
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Replace JSDoc w/ type annotation in required props
  src/lib/autocomplete/autocomplete-field.svelte
  src/lib/autocomplete/autocomplete-option.svelte
  src/lib/checkbox/checkbox-group.svelte
  src/lib/checkbox/checkbox.svelte
  src/lib/chip/checkbox-chip-group.svelte
  src/lib/chip/checkbox-chip.svelte
  src/lib/chip/radio-chip-group.svelte
  src/lib/chip/radio-chip.svelte
  src/lib/date-picker/calendar.svelte
  src/lib/file-input/file-tile.svelte
  src/lib/pagination/pagination.svelte
  src/lib/radio-button/radio-button.svelte
  src/lib/radio-button/radio-group.svelte
  src/lib/slider/handle.svelte
  src/lib/slider/slider.svelte
  src/lib/snackbar/snackbar.svelte
  src/lib/star-rating/star-rating.svelte
  src/lib/tab/tab.svelte
  src/lib/tab/tabs.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Remove JSDoc annotations when type can be inferred
  src/lib/accordion/accordion-section.svelte
  src/lib/accordion/accordion.svelte
  src/lib/autocomplete/autocomplete-field.svelte
  src/lib/autocomplete/autocomplete.svelte
  src/lib/badge/badge.svelte
  src/lib/breadcrumbs/breadcrumbs.svelte
  src/lib/button/button.svelte
  src/lib/card/card.svelte
  src/lib/checkbox/checkbox-group.svelte
  src/lib/checkbox/checkbox.svelte
  src/lib/chip/checkbox-chip-group.svelte
  src/lib/chip/checkbox-chip.svelte
  src/lib/chip/chip.svelte
  src/lib/chip/radio-chip.svelte
  src/lib/date-picker/date-picker.svelte
  src/lib/dialog/dialog.svelte
  src/lib/dot/dot.svelte
  src/lib/dropdown/dropdown-shell.svelte
  src/lib/file-input/file-dropzone.svelte
  src/lib/file-input/file-input.svelte
  src/lib/form-field/form-field.svelte
  src/lib/modal/modal.svelte
  src/lib/pagination/pagination.svelte
  src/lib/radio-button/radio-button.svelte
  src/lib/radio-button/radio-group.svelte
  src/lib/slider/handle.svelte
  src/lib/slider/slider.svelte
  src/lib/snackbar/snackbar.svelte
  src/lib/star-rating/star-rating.svelte
  src/lib/switch/switch.svelte
  src/lib/tab/tab.svelte
  src/lib/table/table.svelte
  src/lib/text-field/text-field.svelte
  src/lib/time-picker/time-picker.svelte
  src/lib/typography/label.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Replace more JSDoc annotations with proper TS
  src/lib/accordion/accordion-section-control.ts
  src/lib/accordion/accordion-section.svelte
  src/lib/accordion/accordion.svelte
  src/lib/autocomplete/autocomplete-field.svelte
  src/lib/autocomplete/autocomplete-option.svelte
  src/lib/autocomplete/autocomplete.svelte
  src/lib/date-picker/calendar.svelte
  src/lib/date-picker/date-picker.svelte
  src/lib/dropdown/dropdown-shell.svelte
  src/lib/popover/popover-positions.js
  src/lib/popover/popover-positions.ts
  src/lib/popover/popover.svelte
  src/lib/slider/handle.svelte
  src/lib/slider/slider.svelte
  src/lib/snackbar/snackbar-container.svelte
  src/lib/snackbar/snackbar-positions.js
  src/lib/snackbar/snackbar-positions.ts
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Replace JSDoc with TS types for optional props
  src/lib/accordion/accordion-section.svelte
  src/lib/autocomplete/autocomplete-field.svelte
  src/lib/autocomplete/autocomplete-option.svelte
  src/lib/autocomplete/autocomplete.svelte
  src/lib/breadcrumbs/breadcrumbs.svelte
  src/lib/button/button.svelte
  src/lib/checkbox/checkbox-group.svelte
  src/lib/checkbox/checkbox.svelte
  src/lib/chip/checkbox-chip-group.svelte
  src/lib/chip/checkbox-chip.svelte
  src/lib/chip/radio-chip-group.svelte
  src/lib/chip/radio-chip.svelte
  src/lib/date-picker/calendar.svelte
  src/lib/date-picker/date-picker.svelte
  src/lib/dialog/dialog.svelte
  src/lib/divider/divider.svelte
  src/lib/file-input/file-dropzone.svelte
  src/lib/file-input/file-input.svelte
  src/lib/form-field/form-field.svelte
  src/lib/radio-button/radio-button.svelte
  src/lib/radio-button/radio-group.svelte
  src/lib/slider/slider.svelte
  src/lib/snackbar/snackbar.svelte
  src/lib/star-rating/star-rating.svelte
  src/lib/tab/tab.svelte
  src/lib/tab/tabs.svelte
  src/lib/table/table.svelte
  src/lib/text-field/text-field.svelte
  src/lib/time-picker/time-picker.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Transform all utils to TypeScript
  src/lib/date-picker/calendar.svelte
  src/lib/date-picker/date-picker.svelte
  src/lib/time-picker/time-picker.svelte
  src/lib/utils/accepted-file-type.ts
  src/lib/utils/call-on-sight.ts
  src/lib/utils/classes.js
  src/lib/utils/classes.ts
  src/lib/utils/color-picker-styles.ts
  src/lib/utils/datetime-utils.ts
  src/lib/utils/dynamic-transition.ts
  src/lib/utils/escape-regexp.ts
  src/lib/utils/events.ts
  src/lib/utils/format-file-size.ts
  src/lib/utils/format-file-type.ts
  src/lib/utils/index.ts
  src/lib/utils/plural-s.ts
  src/lib/utils/range.ts
  src/lib/utils/ripple.ts
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Move event types from Sveld to TS syntax
  src/lib/accordion/accordion-section.svelte
  src/lib/accordion/accordion.svelte
  src/lib/autocomplete/autocomplete-field.svelte
  src/lib/autocomplete/autocomplete-option.svelte
  src/lib/autocomplete/autocomplete.svelte
  src/lib/button/button.svelte
  src/lib/checkbox/checkbox.svelte
  src/lib/chip/checkbox-chip.svelte
  src/lib/chip/radio-chip.svelte
  src/lib/date-picker/calendar.svelte
  src/lib/date-picker/date-picker.svelte
  src/lib/dropdown/dropdown-shell.svelte
  src/lib/file-input/file-dropzone.svelte
  src/lib/file-input/file-input.svelte
  src/lib/file-input/file-tile.svelte
  src/lib/modal/modal.svelte
  src/lib/pagination/pagination.svelte
  src/lib/popover/popover-button.svelte
  src/lib/radio-button/radio-button.svelte
  src/lib/slider/handle.svelte
  src/lib/slider/slider.svelte
  src/lib/star-rating/star-rating.svelte
  src/lib/switch/switch.svelte
  src/lib/tab/tab.svelte
  src/lib/text-field/text-field.svelte
  src/lib/time-picker/time-picker.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Improve typings of local variables and functions
  src/lib/checkbox/checkbox-group.svelte
  src/lib/chip/checkbox-chip-group.svelte
  src/lib/date-picker/date-picker.svelte
  src/lib/dropdown/dropdown-alignment.js
  src/lib/dropdown/dropdown-alignment.ts
  src/lib/dropdown/dropdown-shell.svelte
  src/lib/dropdown/dropdown.svelte
  src/lib/file-input/file-dropzone.svelte
  src/lib/file-input/file-input.svelte
  src/lib/pagination/pagination.svelte
  src/lib/text-field/text-field.svelte
  src/lib/time-picker/time-picker.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Transform docs components and containers to TS
  src/components/docs/color-preview.svelte
  src/components/docs/copyable-code.svelte
  src/components/docs/related-components.svelte
  src/components/docs/shadow-preview.svelte
  src/components/home/info-tile.svelte
  src/containers/docs/desktop-navigation.svelte
  src/containers/docs/header.svelte
  src/containers/docs/mobile-navigation.svelte
  src/containers/docs/place.ts
  src/containers/docs/showcase.svelte
  src/containers/home/info-tiles.svelte
  src/lib/popover/popover.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Transform MDsveX components into TypeScript
  src/mdsvex/h1.svelte
  src/mdsvex/h2.svelte
  src/mdsvex/h3.svelte
  src/mdsvex/layout.svelte
  src/mdsvex/th.svelte
  src/routes/__error.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Transform remaining JS files in lib
  src/lib/dropdown/dropdown-context-key.ts
  src/lib/dropdown/index.ts
  src/lib/index.ts
  src/lib/popover/index.ts
  src/lib/slider/actions.ts
  src/lib/slider/slider.svelte
  src/lib/slider/utils.ts
  src/lib/snackbar/index.ts
  src/lib/snackbar/snackbar-context-key.ts
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix regression in dropdown shell
  src/lib/dropdown/dropdown-shell.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Remove PNPM workspaces
  pnpm-workspace.yaml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Update dependencies, migrating to the new Vite CLI
  package.json
  pnpm-lock.yaml
  svelte.config.js
  vite.config.js
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Convert all URLs to absolute using base variable
  CHANGELOG.md
  src/app.html
  src/components/docs/related-components.svelte
  src/containers/docs/desktop-navigation.svelte
  src/containers/docs/header.svelte
  src/containers/docs/mobile-navigation.svelte
  src/containers/home/info-tiles.svelte
  src/routes/index.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix Prettier autoformat of Markdown
  src/routes/docs/changelog.svx
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Setup base path overriding from env vars
  svelte.config.js
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Automatically replace links with absolute URLs
  src/routes/docs/components/accordion-section.svx
  src/routes/docs/components/accordion.svx
  src/routes/docs/components/autocomplete-field.svx
  src/routes/docs/components/autocomplete-option.svx
  src/routes/docs/components/autocomplete.svx
  src/routes/docs/components/button.svx
  src/routes/docs/components/calendar.svx
  src/routes/docs/components/checkbox-chip-group.svx
  src/routes/docs/components/checkbox-chip.svx
  src/routes/docs/components/checkbox-group.svx
  src/routes/docs/components/chip.svx
  src/routes/docs/components/date-picker.svx
  src/routes/docs/components/dialog.svx
  src/routes/docs/components/dropdown-shell.svx
  src/routes/docs/components/dropdown.svx
  src/routes/docs/components/file-dropzone.svx
  src/routes/docs/components/file-input.svx
  src/routes/docs/components/file-tile.svx
  src/routes/docs/components/modal.svx
  src/routes/docs/components/pagination.svx
  src/routes/docs/components/popover-button.svx
  src/routes/docs/components/radio-chip-group.svx
  src/routes/docs/components/radio-chip.svx
  src/routes/docs/components/radio-group.svx
  src/routes/docs/components/snackbar-container.svx
  src/routes/docs/components/snackbar.svx
  src/routes/docs/components/star-rating.svx
  src/routes/docs/components/tab.svx
  src/routes/docs/components/tabs.svx
  src/routes/docs/components/text-field.svx
  src/routes/docs/components/time-picker.svx
  src/routes/docs/installation.svx
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix breadcrumbs href and segment
  src/containers/docs/header.svelte
  src/routes/docs/__layout.svelte
  src/routes/docs/components/breadcrumbs.svx
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Install lint-staged again
  package.json
  pnpm-lock.yaml
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Fix ESLint configuration and reported errors
  .eslint-svelte-hacks.js
  .eslintignore
  .eslintrc.yaml
  .vscode/settings.json
  package.json
  src/lib/autocomplete/autocomplete-field.svelte
  src/lib/pagination/pagination.svelte
  src/lib/table/table.svelte
  src/routes/index.svelte
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Add .nojekyll file to allow using `_app` folder
  static/.nojekyll
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Path conditions:
  eslint --ext ".svelte,.js" --cache --fix --max-warnings 0: any of: **/*.{js,svelte}
  stylelint . --cache --fix --max-warnings 0: any of: **/*.{css,scss}
  prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown: any of: **/*
